<mat-sidenav-container>
  <mat-sidenav class="sidebar__nav" mode="{{ sidebarMode$ | async }}" opened="{{ sidebarOpened$ | async }}">
    <mat-nav-list>
      <h3 matSubheader>Dashboard</h3>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/albums'"><mat-icon class="sidebar__list__icon">album</mat-icon> Albums</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidebar__content__wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
